@charset "utf-8";
html,body{
	width:auto;
	margin: 0px auto;
	padding: 0px;
	font-size: 84.5%;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #000000;
	background-color: rgb(184, 231, 213);
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","Osaka", Verdana, "ＭＳ Ｐゴシック", "MS P Gothic" Helvetica, sans-serif;
}
img{
	border: none;
	vertical-align: bottom;
}

/*--------- レイアウト ---------*/
#wrapper{
	background: #fff;
	width: 750px;
	margin: 0px auto;
}
header{
	width: 100%;
	height: 70px;
	background: #fff;
	color: #fff;
	font-family: "Impact";
	font-size: 0px;
	line-height: 100px;
	text-indent: 20px;
	border-bottom: 5px #c60 solid;
	background: #fff url("../images/header.jpg") top center no-repeat;
}
nav{
	width: 100%;
	background: #fff;
}
main{
	width: 100%;
	padding: 0px;
	margin: 0px auto;
	background: none;
}
footer{
	width: 100%;
	height: 20px;
	background: #432;
	color: #fff;
	text-align: center;
}
/*--------- メニュー用レイアウト ---------*/
nav ul{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}
nav li{
	list-style: none;
	flex-basis: 187px;
	height: 40px;
}
nav li a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #960;
	color: #f90;
	font-size: 0px;
	text-decoration: none;
	cursor: pointer;
}
nav li a:hover{
	background: #f90;
	color: #fff;
}

.visit{
	display: none;
}
/*メニュー用背景*/
nav #m1 a{background: #fff url("../images/menu01-100.jpg") top center no-repeat;}
/* nav #m2 a{background: #fff url("../images/menu02-100.jpg") top center no-repeat;} */
nav #m3 a{background: #fff url("../images/menu03-100.jpg") top center no-repeat;}
nav #m4 a{background: #fff url("../images/menu04-100.jpg") top center no-repeat;}
nav #m5 a{background: #fff url("../images/menu05-100.jpg") top center no-repeat;}
nav #m1 a:hover{background: #fff url("../images/menu01off-100.jpg") top center no-repeat;}
/* nav #m2 a:hover{background: #fff url("../images/menu02off-100.jpg") top center no-repeat;} */
nav #m3 a:hover{background: #fff url("../images/menu03off-100.jpg") top center no-repeat;}
nav #m4 a:hover{background: #fff url("../images/menu04off-100.jpg") top center no-repeat;}
nav #m5 a:hover{background: #fff url("../images/menu05off-100.jpg") top center no-repeat;}
nav #m1 a,nav #m3 a,nav #m4 a,nav #m5 a
,nav #m1 a:hover,nav #m3 a:hover,nav #m4 a:hover,nav #m5 a:hover{
	aspect-ratio: 1/1;
	background-size: 100% 100%;
	border-radius: 50%;
	box-shadow: 2px 2px 2px #fff inset;
	color: #fff;

}
/*--------- レイアウトims ---------*/
#ims_outer{
	background-color: #ff0;
	width: 100%;
	aspect-ratio: 2/1;
	margin: 0 auto;
}
#ims_inner{
	position: relative;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background:  url("../images/ims_bg.jpg") top center no-repeat;
}
#ims_inner a{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #999;
	color: #000;
	text-decoration: none;
	font-size: 150%;
	opacity: 0.7;
}
#ims_inner a:hover{
	opacity: 1.0;
}

#ims_but7 a,
#ims_but3 a{
	width: 15%;
	aspect-ratio: 1/1;
	background: url("../images/ims1.jpg") top center no-repeat;
	background-size: 100% 100%;
	border-radius: 50%;
	box-shadow: 2px 2px 5px #000 inset;
	color: #fff;
}


#ims_but3 a{top: 15% ;left: 10%;}
#ims_but7 a{top: 55% ;left: 10%;}

#ims_but4 a,
#ims_but5 a,
#ims_but6 a{
	width: 20%;
	aspect-ratio: 6/1;
	background: url("../images/ims4.jpg") top center no-repeat;
	background-size: 100% 100%;
	box-shadow: 2px 2px 5px #000;
	color: #fff;
}

#ims_but4 a{bottom: 10% ;right: 46%;}
#ims_but5 a{bottom: 10% ;right: 24%;}
#ims_but6 a{bottom: 10% ;right: 2%;}

#ims_but1 a{
	width: 50%;
	aspect-ratio: 3/2;
	background: top center no-repeat;
	background-size: 100% 100%;
	box-shadow: 2px 2px 5px #000;
	color: #fff;
	top: 10%;
	right: 10%;
}
h2{
    width:500px;
    padding: 2px 5px;
    margin: 5px auto;
    font-size: 2em;
    color: rgba(0, 199, 254, 0.567);
    border-left: 5px rgba(187, 2, 2, 0.567) dotted;
}
h1{
    width:500px;
    padding: 2px 5px;
    margin: 5px auto;
    font-size: 2.4em;
    color: rgba(57, 117, 82, 0.567);
    border-left: 5px rgba(187, 2, 2, 0.567) dotted;
}
table{
    width:500px;
    padding: 5px;
    margin: 5px auto 40px;
    border: 1px rgba(146, 245, 186, 0.567) dotted;
    border-collapse: collapse;
    border-spacing: 0px;
}
td,th{
    padding: 10px;
    border: 1px rgba(78, 237, 100, 0.567) dotted;
    color: #684;
    text-align: left;
}
th{
    background: #ccf;
    color: rgba(187, 2, 2, 0.567);
}
hr{
	width: 530px;
}
p{
	width:500px;
    padding: 5px;
    margin: 5px auto 40px;

}
h3{
	font-size: 15px;
	width:500px;
    margin: 5px auto 40px;
}
#gallery{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.gallery_box{
	width: 120px;
	background: #fff;
	margin: 10px;
	box-shadow: 2px 2px 10px #999;
}
.gallery_box img{
	width: 100%;
	margin: 0px;
}
.gallery_box h3{
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	padding: 5px;
	background: #099;
	color:#fff;
}
.gallery_box p{
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	padding: 5px;
}
.gallery_box p a{
	display: block;
	width: 80%;
	margin: 10px auto;
	padding: 5px;
	background: #789;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
}
.gallery_box p a:hover{
	background: #990;
}

#gallery1{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.gallery_box1{
	width: 240px;
	background: #fff;
	margin: 10px;
	box-shadow: 2px 2px 10px #999;
}
.gallery_box1 img{
	width: 100%;
	margin: 0px;
}
.gallery_box1 h3{
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	padding: 5px;
	background: #099;
	color:#fff;
}
.gallery_box1 p{
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	padding: 5px;
}
.gallery_box1 p a{
	display: block;
	width: 80%;
	margin: 10px auto;
	padding: 5px;
	background: #789;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
}
#swiper-slide{
	width: 400px;
	height: 400px;
}
video{
	width: 700px;
	margin: 25px;
	height: auto;
}


